<h1 style="text-align: center"><%= @article.title %></h1>

<div class="container">
  <div class="mb-4 shadow rounded">
    <div class="card text-center">
      <div class="card-header font-italic">
        by <%= @article.user.username if @article.user %>
        <%= link_to gravator_for(@article.user, options = { size: 90 }), user_path(@article.user) %>
        <% if !@article.categories.empty? %>
          <div style="display: flex; flex-direction: row; justify-content: center; gap: 12px; margin-top: 20px">
            <%= render @article.categories %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <div class="card-text" style="text-align: left"><%= simple_format @article.desc %></div>
        <% if (logged_in? && current_user == @article.user) || current_user.is_admin? %>
          <div style="display: flex; flex-direction: row; justify-content: center; gap: 20px">
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-primary" %>
            <%= button_to "Delete", article_path(@article), method: :delete, class: "btn btn-outline-danger" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <small>Created  <%= time_ago_in_words @article.created_at %> ago ,</small>
        <small>Edited  <%= time_ago_in_words @article.updated_at %> ago</small>
      </div>
    </div>
  </div>
</div>